[{:itonami.blueprint/social-impact [:financial-transparency :consumer-protection :local-jobs], :itonami.blueprint/domain :finance/investment-advisory, :itonami.blueprint/required-technologies [:robotics :identity :forms :audit-ledger], :itonami.blueprint/isco-08 "2412", :itonami.blueprint/name "Independent Financial & Investment Advisory Practice", :itonami.blueprint/governor :financial-advisory-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-2412", :itonami.blueprint/license "AGPL-3.0-or-later"}]